@import '@/styles/theme.less';
@import '@/styles/layout.less';

.art-import-container {
  height: fit-content;
  padding: 20px;
  #color(background-color, --module-bg-color);
  .arco-upload {
    height: 400px;
    .arco-upload {
      height: 100%;
    }
    .arco-upload-drag {
      height: 100%;
      #flex(column, center, center);
    }
  }
  .blog-upload {
    width: 100%;
    height: 100%;
    #flex(column, flex-start, flex-start);
    .blog-header {
      width: 100%;
      margin-bottom: 8px;
      padding-bottom: 8px;
      border-bottom: solid 1px;
      #flex(row, center, space-between);
      #color(border-color, --primary-border-color);
      h4 {
        font-size: 18px;
        #color(color, --primary-text-color);
      }
    }
    .blog-list {
      width: 100%;
      &-item {
        width: 100%;
        height: 60px;
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: solid 1px;
        #flex(row, center, space-between);
        #color(border-color, --primary-border-color);
        .blog-name {
          display: inline-block;
          width: 30%;
          white-space: nowrap;
          #color(color, --primary-text-color);
        }
        .arco-select {
          width: 200px;
        }
      }
    }
    .blog-footer {
      width: 100%;
      #flex(row, center, flex-end);
      .arco-btn {
        margin-left: 8px;
      }
    }
  }
}