@import '@/styles/layout.less';
@import '@/styles/theme.less';
.tiny-map {
    position: relative;
    width: 200px;
    img {
        width: 100%;
    }

    .iconfont {
        position: absolute;
        transform-origin: bottom;
        // filter: blur(1px);
        #color(color, --lighter-blue-color);
    }
}