@import '@/styles/layout.less';
@import '@/styles/theme.less';
.ws-task-card {
  width: 300px;
  // height: 200px;
  padding: 10px;
  border-radius: 5px;
  // transition: all 0.2s ease;
  cursor: move;
  #flex(column, center, flex-start);
  #color(background-color, --module-bg-color);
  &-header {
    width: 100%;
    #flex(row, center, space-between);
    .keyword-list {
      #flex(row, center, flex-start);
      .keyword {
        padding: 5px;
        margin-right: 5px;
        border-radius: 2px;
        font-size: 12px;
      }
      .keyword1 {
        #color(color, --primary-blue-color);
        #color(background-color, --gray-blue-color);
      }
      .keyword2 {
        #color(color, --primary-green-color);
        #color(background-color, --gray-green-color);
      }
      .keyword3 {
        #color(color, --primary-red-color);
        #color(background-color, --gray-red-color);
      }
    }
  }
  &-content {
    margin: 8px 0;
    padding-bottom: 5px;
    border-bottom: solid 1px;
    #flex(column, flex-start, flex-start);
    #color(border-color, --primary-border-color);
    h4 {
      font-size: 16px;
      margin-bottom: 5px;
      #color(color, --primary-text-color);
    }
    p {
      font-size: 14px;
      #color(color, --lighter-text-color);
    }
  }
  &-footer {
    width: 100%;
    #flex(row, center, space-between);
    .report-count {
      #flex(row, center, center);
      #color(color, --primary-text-color);
      i {
        font-size: 20px;
        line-height: 20px;
      }
      span {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}