@import '@/styles/layout.less';
@import '@/styles/theme.less';
.ws-management-task {
  width: 100%;
  height: calc(100vh - 60px);
  // padding: 20px;
  #flex(row, flex-start, space-between);
  .task-manage {
    height: 100%;
    width: 100%;
    &-header {
      height: 50px;
      padding: 0 10px;
      margin-bottom: 10px;
      border-radius: 2px;
      #flex(row, center, flex-start);
      #color(background-color, --module-bg-color);
      .arco-select-label {
        #flex(row, center, flex-start);
        .iconfont {
          margin-right: 5px;
        }
        .ws-template {
          #color(color, --primary-blue-color);
        }
        .ws-node {
          #color(color, --primary-green-color);
        }
      }
      .select-controller {
        margin-right: 10px;
      }
      .controller {
        margin-right: 10px;
        height: 30px;
        padding: 0 10px;
        border-radius: 2px;
        cursor: pointer;
        #flex(row, center, flex-start);
        #color(background-color, --primary-bg-color);
        &:hover {
          #color(background-color, --heavy-bg-color);
        }
        .iconfont {
          margin-right: 5px;
        }
        span, i {
          #color(color, --primary-text-color);
        }
      }
    }
    &-content {
      width: 100%;
      padding: 0 20px;
      height: calc(100% - 50px - 20px);
      overflow: auto;
      gap: 20px;
      #flex(row, flex-start, flex-start);
      .column {
        width: 350px;
        height: 100%;
        &-header {
          height: 40px;
          line-height: 40px;
          font-size: 16px;
          font-weight: bold;
          #color(color, --primary-text-color);
          #flex(row, center, space-between);
        }
        &-plus {
          width: 100%;
          height: 50px;
          margin-bottom: 20px;
          border-radius: 5px;
          border: solid 1px;
          transition: all 0.2s ease;
          cursor: pointer;
          #flex(row, center, center);
          #color(border-color, --module-bg-color);
          #color(background-color, --module-bg-color);
          // #shadow-color(0, 4px, 12px, 0, --primary-shadow-color);
          .arco-icon {
            width: 25px;
            height: 25px;
            #color(color, --primary-text-color);
          }
        }
        &-plus:hover {
          #color(border-color, --primary-blue-color);
          .arco-icon {
            #color(color, --primary-blue-color);
          }
        }
        &-content {
          height: calc(100% - 40px);
          overflow: auto;
          .ws-task-card {
            margin-bottom: 20px;
          }
        }
      }
      .column:last-child {
        margin-right: 0;
      }
    }
  }
  .user-manage {
    width: 300px;
    height: 100%;
    padding: 10px;
    margin-left: 20px;
    border-radius: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    #color(background-color, --module-bg-color);
    &-title {
      width: 100%;
      height: 28px;
      margin-bottom: 10px;
      #flex(row, center, space-between);
    }
    &-swiper {
      position: relative;
      width: 100%;
      height: 150px;
      margin-bottom: 10px;
      .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
          width: 100%;
          #flex(column, center, center);
          #color(background-color, --primary-bg-color);
          .avatar-item {
            position: relative;
            margin-bottom: 5px;
            .ws-avatar {
              position: relative;
            }
            .is-online {
              position: absolute;
              box-sizing: border-box;
              width: 20px;
              height: 20px;
              border: solid 4px;
              border-radius: 50%;
              bottom: 0;
              right: 0;
              #color(border-color, --primary-bg-color);
              #color(background-color, --primary-green-color);
            }
          }
          .name-item {
            font-size: 16px;
            font-weight: 800;
            #color(color, --primary-text-color);
          }
        }
      }
      .iconfont {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        padding: 3px;
        z-index: 2;
        font-size: 14px;
        color: #FFFFFF;
        transition: all 0.2s ease;
        cursor: pointer;
        #color(background-color, --primary-blue-color);
      }
      .iconfont:hover {
        #color(background-color, --heavy-blue-color);
      }
      .ws-arrow-left {
        left: -100%;
      }
      .ws-arrow-right {
        right: -100%;
      }
      .ws-arrow-left.is-visiable {
        animation: slide-left 0.3s ease forwards;
      }
      .ws-arrow-right.is-visiable {
        animation: slide-right 0.3s ease forwards;
      }
    }
    &-details {
      display: block;
      width: 100%;
      height: 300px;
      margin-bottom: 10px;
      #flex(column, center, space-between);
      li {
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        #flex(row, center, flex-start);
        span,
        i {
          display: inline-block;
          #color(color, --primary-text-color);
        }
        i {
          font-size: 16px;
          font-weight: 900;
          width: 28px;
          height: 28px;
          margin-right: 10px;
          text-align: center;
          line-height: 28px;
          border-radius: 20px;
          #color(background-color, --lighter-bg-color);
        }
        span {
          font-size: 14px;
        }
        span:last-child {
          position: absolute;
          right: 0;
          font-weight: 600;
        }
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
    &-chat {
      width: 100%;
      height: calc(100% - 28px - 150px - 300px - 30px);
      .chat-marker {
        height: 1px;
        margin: 10px 0;
        border-bottom: solid 1px;
        #flex(row, center, center);
        #color(border-bottom-color, --heavy-border-color);
        span {
          display: inline-block;
          height: 20px;
          padding: 0 10px;
          #color(color, --primary-text-color);
          #color(background-color, --module-bg-color);
        }
      }
      .chat-content {
        width: 100%;
        height: calc(100% - 10px);
        #color(background-color, --primary-bg-color);
      }
    }
  }
}
// .flip-list-enter-active {
//   transition: all 0.5s ease;
// }
.ghost-card {
  opacity: 0.5;
  border: 1px solid;
  #color(border-color, --primary-blue-color);
  #shadow-color(0, 0, 12px, 0, --lighter-blue-color);
}
::-webkit-scrollbar {
  height: 5px !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  #color(background-color, --lighter-text-color);
}

@keyframes slide-left {
  from {
    left: -100%;
  } to {
    left: 10px;
  }
}
@keyframes slide-right {
  from {
    right: -100%;
  } to {
    right: 10px;
  }
}